<img src="images/contact.png"> 
<!-- div id="backtop"></div-->
<br>
 
<center>
<table> 
  <tr>
   <td>
   Images and text are from their respective www.wikipedia.org entries. Map images are taken from maps.google.com<br>
   <br>
   The function of the application is to provide a list of points of interest close to your GPS provided location.
   It is not intended to replace the google maps application and thus does not mark your current location on the map.
   Google Maps is launched to provide this functionality, amongst other things, and will require an internet connection. 
   ie wifi or via 3G/GPRS connectivity.<br>
   <br> 
   We have developed this application with great attention to detail and with the hope that it helps you have the best vacation possible.
   We hope you enjoy it and wish you a happy holiday!
   <br><br>
   Sláinte agus go éirí na bothair leat! :)<br>
   John
   </td>
  </tr>
</table>
<br>
<hr>
<br>
<table>
  <tr>
    <td VALIGN="top" width=70px><strong>address:</strong></td>
    <td>17 Rue Farconnet,<br>
 	 38000 Grenoble,France
 	</td>
  </tr>
  <tr>
    <td VALIGN="top" width=70px><strong>email:</strong></td>
    <td>contact@mcnamara.fr</td>
  </tr> 
    <tr>
    <td VALIGN="top" width=70px><strong>web:</strong></td>
    <td>www.mcnamara.fr</td>
  </tr>  
</table>
</center>
  
<div id="EmailButton" name="EmailButton" x-mojo-element="Button"></div>
 
<div id="WebButton" name="WebButton" x-mojo-element="Button"></div>

<br>
<!-- div id="backbottom"></div-->