<div class="palm-row multi-line #{disabled}" id='#{name}_example' x-Mojo#{disabled}-touch-feedback="delayed">
	<div class="palm-row-wrapper">

		<table>
		<tr>
		 <td>
		   <div class="title">#{title} <strong>#{advice}</strong></div>
		 </td>
		</tr>
		</table>
		
		<table>
		<tr>
		 <td width=100 align="left">
		  <img src="images/#{bearing}"><br>
		 </td>
		 <td width=220 align="left">
		  <h2> #{distance} km</h2>
		 </td>
		</tr>
		 
		<!-- tr>
		 <td>
		   #{latitude}, #{longitude}<br>
		 </td>
		 <td>
		 </td>
		</tr>
		 -->
		</table>
	</div>
</div>
