<div class="palm-row multi-line #{disabled}" id='#{name}_example' x-Mojo#{disabled}-touch-feedback="delayed">
	<div class="palm-row-wrapper">
		<table>
			<tr>
			  <td><div class="title">#{title} <strong>#{advice}</strong> </div></td>
			</tr>
			<tr>
			<td width="320px">
			  <center>
			  <img src="images/south/#{image}">
			  </center>
			  </td>
			</tr>
			<tr>
			<td>
			<div class="preview"><br>
			
			<br>#{description1}
			<br>#{description2}
         	<div class="extra">#{extra1}</div>
			
			</div>
			</td>
			</tr>
		</table> 
	</div>
</div>
