<div class="palm-row multi-line #{disabled}" id='#{name}_example' x-Mojo#{disabled}-touch-feedback="delayed">
	<div class="palm-row-wrapper">
		<table>
			<tr>
			  <td><div class="title">#{title} <strong>#{advice}</strong> </div></td>
			</tr>
			<tr>
			<td width="320px">
			  <center>
			  <img src="images/west/#{image}">
			  </center>
			  </td>
			</tr>
			<tr>
			<td>
			<div class="preview"><br>
			<br>#{description1}
			<br>#{description2}
         	<div class="extra">#{extra1}</div>

			<center>
				<div class="poem"> </div>
				<div class="poem"><strong>#{line0}</strong></div>
				<div class="poem">#{line1}</div>
				<div class="poem">#{line2}</div>
				<div class="poem">#{line3}</div>
				<div class="poem">#{line4}</div>
				<div class="poem">#{line5}</div>
				<div class="poem">#{line6}</div>
				<div class="poem">#{line7}</div>
				<div class="poem">#{line8}</div>
				<div class="poem"><i>#{line9}</i></div>
				<div class="poem"><i>#{line10}</i></div>
				<div class="poem"><i>#{line11}</i></div>
			</center>
			</div>
			</td>
			</tr>
		</table> 
	</div>
</div>
